<canvas id="display" style="width: 100%; height: 100%"> </canvas>

<script>
    const update_image = () => {
        var image = new Image();
        image.onload = function () {
            ctx.canvas.width = image.width;
            ctx.canvas.height = image.height;

            scale_x = ctx.canvas.width / $("#image_display").width();
            scale_y = ctx.canvas.height / $("#image_display").height();

            ctx.drawImage(image, 0, 0);
        };
        image.src =
            "/mandelbrot_image/" +
            $real +
            "/" +
            $imag +
            "/" +
            $zoom +
            "/" +
            $resolution +
            "?t=" +
            new Date().getTime();
    };

    var ctx = undefined;
    var chart = undefined;
    $(document).ready(() => {
        ctx = $("#display").get(0).getContext("2d");
        update_image();
    });
</script>
