<script>
    $(document).keypress((e) => {
        if (e.which == 119) {
            move_camera(0, -1);
        } else if (e.which == 115) {
            move_camera(0, 1);
        } else if (e.which == 97) {
            move_camera(-1, 0);
        } else if (e.which == 100) {
            move_camera(1, 0);
        } else if (e.which == 101) {
            $zoom = $zoom * 2.0;
            $("#zoom_input").val($zoom);
            update_image();
        } else if (e.which == 113) {
            $zoom = $zoom * 0.5;
            $("#zoom_input").val($zoom);
            update_image();
        } else if (e.which == 61) {
            $resolution *= 2;
            update_image();
        } else if (e.which == 45) {
            $resolution /= 2;
            update_image();
        } else if (e.which == 167) {
            $real = 0.0;
            $imag = 0.0;
            $zoom = 0.5;
            $("#zoom_input").val($zoom);
            update_image();
        } else {
            console.log("Unknown key pressed: " + e.which);
        }
    });
</script>
